$vertMate : #00a391;
$bleuPoussiere : #1b252d;
$bleuPoussiereMate : #26343F;
$bleuLight : #5596E6;
$blanc : #fff;
$jaune : yellow;
$rouge : #f00;
$rougeLeger : #FF8080;

$darkBlue : #26343F;
$skyBlue : #3F5668;
$skyBlueLight : #42769E;
$skyBlueA7 : #748694;
$skyBlueA9 : #8FA5B6;
$txtBkyBlue : #062137;
$lightBlue : #5596e6;
$greenMate :  #00a391;
$bgc : #e6ecf0;

/*Animations Color */
$vioLeger : #DDAAFC;
$vioLeger2 : #F5AAFC;
$rozLeger : #FCAAE2;
$rozLeger2 : #FDDCF3;
