$vertMate : #00a391;
$bleuPoussiere : #1b252d;
$bleuPoussiereMate : #26343F;
$bleuLight : #5596E6;
$blanc : #fff;
$jaune : yellow;
$rouge : #f00;
$rougeLeger : #FF8080;

$darkBlue : #26343F;
$skyBlue : #3F5668;
$lightBlue : #5596e6;
$greenMate :  #00a391;
$bgc : #e6ecf0;