/*Import default Layout for the template
Default Skin*/
/*@import "_pinkSkin.scss";*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  /*	background-image: url("img/editedChatMap.jpg");
	background-repeat: no-repeat;
	background-position: center;*/
  background-color: #3F5668;
  line-height: 1;
}

body * {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/*Imort Body Style sheet*/
.btn {
  border: 1px solid #00a391;
  padding: 6px 10px;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  font-family: arial;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}

.errorNotif {
  background-color: #FF8080;
  height: 40px;
  text-align: center;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  padding-top: 15px;
}

div#contentWrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 500px;
  border-bottom: 2px solid #fff;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

div#contentWrapper header {
  min-height: 50px;
  height: auto;
  padding-top: 15px;
  vertical-align: top;
  border-bottom: 1px solid #fff;
  padding: 5px;
  background-color: #26343F;
}

div#contentWrapper header * {
  display: inline;
}

div#contentWrapper header span {
  width: 20%;
  float: left;
}

div#contentWrapper header span a {
  float: left;
}

div#contentWrapper header h1 {
  width: 30%;
  position: relative;
  top: 10px;
  color: #fff;
  font-size: 24px;
  font-family: arial;
}

div#contentWrapper header aside {
  float: right;
  width: 40%;
}

div#contentWrapper header aside a {
  float: right;
  margin-right: 5px;
}

div#contentWrapper section#homeContent {
  padding-top: 200px;
  text-align: center;
}

div#contentWrapper section#homeContent h3 {
  margin: 0 auto;
  font-family: arial;
  font-size: 30px;
  color: #fff;
}

div#contentWrapper section#homeContent #homeBtn {
  position: relative;
  top: 20px;
  background-color: #00a391;
}

div#contentWrapper section#signupSection {
  padding-top: 150px;
}

div#contentWrapper section#signupSection h3 {
  text-align: center;
  font-family: arial;
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

div#contentWrapper section#signupSection form {
  display: block;
}

div#contentWrapper section#signupSection form input {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

div#contentWrapper section#signupSection form [type=submit] {
  background: #00a391;
  padding: 6px 20px;
  text-align: center;
}

div#contentWrapper section#signupSection form [type=text], div#contentWrapper section#signupSection form [type=password] {
  width: 250px;
  height: 30px;
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
}

div#contentWrapper section#signinSection {
  padding-top: 150px;
}

div#contentWrapper section#signinSection h3 {
  text-align: center;
  font-family: arial;
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

div#contentWrapper section#signinSection form {
  display: block;
}

div#contentWrapper section#signinSection form input {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

div#contentWrapper section#signinSection form [type=submit] {
  background: #00a391;
  padding: 6px 20px;
  text-align: center;
}

div#contentWrapper section#signinSection form [type=text], div#contentWrapper section#signinSection form [type=password] {
  width: 250px;
  height: 30px;
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
}

div#contentWrapper section#userMember {
  padding: 5px;
}

div#contentWrapper section#userMember #viewPort, div#contentWrapper section#userMember aside {
  display: inline;
}

div#contentWrapper section#userMember #viewPort {
  width: 65%;
  float: left;
}

div#contentWrapper section#userMember #viewPort #mssgView {
  height: 350px;
  overflow-y: scroll;
}

div#contentWrapper section#userMember #viewPort #mssgView p {
  margin-bottom: 5px;
}

div#contentWrapper section#userMember #viewPort #mssgView p span {
  margin-right: 5px;
}

div#contentWrapper section#userMember #viewPort #mssgView p span:first-of-type {
  padding-right: 5px;
  border-right: 1px solid gray;
}

div#contentWrapper section#userMember #viewPort #mssgView p span:last-of-type {
  word-wrap: break-word;
}

div#contentWrapper section#userMember #viewPort form {
  padding-top: 20px;
}

div#contentWrapper section#userMember #viewPort form * {
  vertical-align: top;
}

div#contentWrapper section#userMember #viewPort form [type=submit] {
  background: none;
}

div#contentWrapper section#userMember aside {
  width: 25%;
  float: right;
}

div#contentWrapper section#userMember aside #userListView {
  height: 350px;
  overflow-y: scroll;
}

div#contentWrapper section#userMember aside #signOut {
  margin-top: 20px;
  background: none;
}
